body {
	font-size: 16px;
	font-family:'Helvetica Neue', Helvetica, sans-serif;
	background: #f4f4f4;
}
.wrapper {
	margin: -1px auto 10px auto;
	font-size: 13px;
	width: 550px;
	background: white;
	box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px 0;
	text-align: center;
	border-radius: 2px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    position: relative;
}
.wrap {
    position: relative;
    display: block;
    width: 512px;
    margin: 0 auto;
    padding: 2px 0;

    border: 1px solid #b2b2b2;
    box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px 0 inset;
}
.left {float: left;}
.right {float: right;}
.wrap input[type=text] {
    position: relative;
    padding: 6px 6px;
    width: 425px;
    font-size: 20px;
    float: left;
    border: none;
}
.overfl > div:first-child {
	line-height: 3em;
	font-size: 30px;
	text-align: center;
    font-family: vladimir;
}
.arrow {
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 11px solid white;
    position: absolute;
    left: 1px;
    top: -10px;
    z-index: 1001;
}
.wrapper div {position: relative;}
.overfl {overflow: hidden; padding: 0 0 30px 0;}
.todo {
	text-align: left;
    line-height: 1em;
    font-size: 22px;
    padding: 14px 0;
    width: 512px;
    margin: 0 auto;
    border-bottom: 1px solid #CCC;
    cursor: move;
    color: #333;
    position: relative;
}
.todo input[type=checkbox] {
    padding: 0;
    margin: 0 5px 0 0;
}
.todo input[type="checkbox"]:checked + span {
    opacity: 0.7;
    -moz-opacity: 0.7;
    filter:alpha(opacity=7);
    text-decoration: line-through;
}
.cross {
    position: absolute;
    width: 25px;
    height: 25px;
 
    text-align:center;
 
    font-family:'Helvetica Neue', Helvetica, sans-serif;
    font-weight:bold;
    color:#fff;
    text-shadow:0px 1px 0px rgba(0,0,0,.25) inset;
 
    border-radius:4em;

    background-image: linear-gradient(top, rgba(230, 230, 230, 1), rgba(210, 210, 210, 1));
    background-image: -webkit-linear-gradient(top, rgba(230, 230, 230, 1), rgba(210, 210, 210, 1));
    background-image: -moz-linear-gradient(top, rgba(230, 230, 230, 1), rgba(210, 210, 210, 1));
    cursor: pointer;
    right: 0;
    top: 12px;
    opacity: 0;
    -moz-opacity: 0;
    filter:alpha(opacity=0);
    display: none;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}
.todo span:nth-child(2) {
    -webkit-transition: opacity 0.4s ease-out;
    -moz-transition: opacity 0.4s ease-out;
    -o-transition: opacity 0.4s ease-out;
    -ms-transition: opacity 042s ease-out;
    transition: opacity 0.4s ease-out;
}
.cross:hover {
    background-image: linear-gradient(top, rgba(220, 220, 220, 1), rgba(200, 200, 200, 1));
    background-image: -webkit-linear-gradient(top, rgba(220, 220, 220, 1), rgba(200, 200, 200, 1));
    background-image: -moz-linear-gradient(top, rgba(220, 220, 220, 1), rgba(200, 200, 200, 1));
}
.todo:hover > .cross {
    opacity: 1;
    -moz-opacity: 1;
    filter:alpha(opacity=1);
    display: inline-block;
}
#footer {
    width: auto;
    border-top: 1px solid #ddd;
    background-image: linear-gradient(top, rgb(240, 240, 240), rgb(230, 230, 230));
    background-image: -webkit-linear-gradient(top, rgb(240, 240, 240), rgb(230, 230, 230));
    background-image: -moz-linear-gradient(top, rgb(240, 240, 240), rgb(230, 230, 230));

    text-align: left;
    padding: 6px 20px;
    color: #444;
    font-size: 12px;
    position: relative;
}
.priority {
    position: relative;
    top: 9px;
    right: 5px;
    outline: none;
}
.priority input[type=radio] {display: none;}
.priority label {
    width: 20px;
    height: 20px;
 
    line-height:1.5em;
    text-align:center;
 
    font-family:'Helvetica Neue', Helvetica, sans-serif;
    font-weight:bold;
    color:#fff;
    text-shadow:0px 1px 0px rgba(0,0,0,.15);
 
    -webkit-box-shadow:
        inset 0px 1px 0px rgba(255,255,255,35),
        0px 1px 1px rgba(0,0,0,.2);
    -moz-box-shadow:
        inset 0px 1px 0px rgba(255,255,255,.35),
        0px 1px 1px rgba(0,0,0,.2);
    box-shadow:
        inset 0px 1px 0px rgba(255,255,255,.35),
        0px 1px 1px rgba(0,0,0,.2);
 
    -webkit-border-radius:4em;
    -moz-border-radius:4em;
    border-radius:4em;
    float: left;
    margin: 0 0 0 3px;
    cursor: pointer;
    -webkit-transition: opacity 0.1s ease-in-out;
    -moz-transition: opacity 0.1s ease-in-out;
    -o-transition: opacity 0.1s ease-in-out;
    -ms-transition: opacity 0.1s ease-in-out;
    transition: opacity 0.1s ease-in-out;
    opacity: 0.4;
    -moz-opacity: 0.4;
    filter:alpha(opacity=4);
}
.priority label:hover {
    opacity: 1;
    -moz-opacity: 1;
    filter:alpha(opacity=1);
}
.priority input[type=radio]:checked + label {
    opacity: 1;
    -moz-opacity: 1;
    filter:alpha(opacity=1);
}
.translucent {
    opacity: 0.35;
    -moz-opacity: 0.35;
    filter:alpha(opacity=0.35);
}
.opaque {
    opacity: 1;
    -moz-opacity: 1;
    filter:alpha(opacity=1);
}
.red {
    background-image: -webkit-linear-gradient(top, rgb(247, 130, 151), rgb(244, 102, 119));
    background-image: -moz-linear-gradient(top, rgb(247, 130, 151), rgb(244, 102, 119));
    background-image: -o-linear-gradient(top, rgb(247, 130, 151), rgb(244, 102, 119));
    background-image: -ms-linear-gradient(top, rgb(247, 130, 151), rgb(244, 102, 119));
    background-image: linear-gradient(top, rgb(247, 130, 151), rgb(244, 102, 119));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f78297', EndColorStr='#f46677');
 
    border:1px solid #ce4f5e;
}
.blue {
    background-image: -webkit-linear-gradient(top, rgb(172, 228, 248), rgb(108, 205, 243));
    background-image: -moz-linear-gradient(top, rgb(172, 228, 248), rgb(108, 205, 243));
    background-image: -o-linear-gradient(top, rgb(172, 228, 248), rgb(108, 205, 243));
    background-image: -ms-linear-gradient(top, rgb(172, 228, 248), rgb(108, 205, 243));
    background-image: linear-gradient(top, rgb(172, 228, 248), rgb(108, 205, 243));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ace4f8', EndColorStr='#6ccdf3');
 
    border:1px solid #79b5cb;
}
.white {
    background-image: -webkit-linear-gradient(top, rgb(260, 260, 260), rgb(240, 240, 240));
    background-image: -moz-linear-gradient(top, rgb(260, 260, 260), rgb(240, 240, 240));
    background-image: -o-linear-gradient(top, rgb(260, 260, 260), rgb(240, 240, 240));
    background-image: -ms-linear-gradient(top, rgb(260, 260, 260), rgb(240, 240, 240));
    background-image: linear-gradient(top, rgb(260, 260, 260), rgb(240, 240, 240));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ace4f8', EndColorStr='#6ccdf3');
 
    border:1px solid #ccc;
}
.high {
    background-image: -webkit-linear-gradient(top, rgb(244, 102, 119), rgb(247, 130, 151));
    background-image: -moz-linear-gradient(top, rgb(244, 102, 119), rgb(247, 130, 151));
    background-image: -o-linear-gradient(top, rgb(244, 102, 119), rgb(247, 130, 151));
    background-image: -ms-linear-gradient(top, rgb(244, 102, 119), rgb(247, 130, 151));
    background-image: linear-gradient(top, rgb(244, 102, 119), rgb(247, 130, 151));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f46677', EndColorStr='#f78297');
    padding: 0 12px;
    border-radius: 15px;
    color: #fafafa;
}
.medium {
    background-image: -webkit-linear-gradient(top, rgb(108, 205, 243), rgb(172, 228, 248));
    background-image: -moz-linear-gradient(top, rgb(108, 205, 243), rgb(172, 228, 248));
    background-image: -o-linear-gradient(top, rgb(108, 205, 243), rgb(172, 228, 248));
    background-image: -ms-linear-gradient(top, rgb(108, 205, 243), rgb(172, 228, 248));
    background-image: linear-gradient(top, rgb(108, 205, 243), rgb(172, 228, 248));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#6ccdf3', EndColorStr='#ace4f8');
    padding: 0 12px;
    border-radius: 15px;
    color: #333;
}
.clear {clear: both;}
.strike {
    opacity: 0.7;
    -moz-opacity: 0.7;
    filter:alpha(opacity=7);
    text-decoration: line-through;
}
.container {
    margin-bottom: 15px;
}
.todo-count {
    position: relative;
    top: 5px;
}
.num {
    font-weight: bold;
}
.filter {
    box-shadow: 0 1px 1px 0 #b5b5b5 inset, 0 1px 1px 0 #fff;
    padding: 6px 17px;
    border-radius: 35px;
    background-color: #d2d2d2;
    color: #555;
    cursor: pointer;
    position: relative;
    font-size: 11px;
}
.help{
    padding: 6px 9px;
    margin-left: 3px;
    cursor: help;
}
input:required, textarea:required {  
    -moz-box-shadow:none;  
    -webkit-box-shadow:none;  
    -o-box-shadow:none;  
    box-shadow:none;  
}
::-webkit-input-placeholder {  
    color:#CCC;
    font-style: italic;
}
input:-moz-placeholder, textarea:-moz-placeholder {  
    color:#CCC;
    font-style: italic;
}